{
    "parser": "babel-eslint",
    "extends": ["prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "globals": {
        "YAHOO": true,
        "jQuery": true,
        "$": true,
        "vex": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["app"]
            }
        }
    }
}
