{
    "parser": "babel-eslint",
    "extends": ["prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "globals": {
        "YAHOO": true,
        "jQuery": true,
        "$": true,
        "vex": true
    }
}
