# Ignore npm-debug.log.
*.log

# Modules downloaded by npm.
node_modules/

# Modules downloaded by Bower
bower_components/

# Built JS and CSS files.
build/

# index.html is ignored, copy it from a template
index.html
