.homeworld-highlight {
    color: yellow;
}

body {
    color: #ffffff;
}

/* Don't make the color of text input white, though. */
input,
textarea,
select,
option {
    color: black;
    font-weight: normal;
}

.ui.form .grouped.fields > label {
    color: white;
}
.ui.checkbox label,
.ui.checkbox + label {
    color: white;
}
.ui.form .field > label {
    color: white;
}

/* Fix incoming ships position. */
#notify_c {
    position: absolute;
    right: 15px;
    top: 100px;
    z-index: 2000;
}

/* Fix labels on react-tabs tabs. */
.react-tabs [role='tab'][aria-selected='true'] {
    color: black;
}

/* Fix tooltips hiding behind things. */
.__react_component_tooltip {
    z-index: 2147483647 !important;
    opacity: 1 !important;
}

/* Disabled buttons block pointer events (eg 'hover' for tooltips). We don't want that. */
.ui.button.disabled {
    pointer-events: all !important;
}

/* Planet list items should have pointy cursors. ;) */
a.item {
    cursor: pointer;
}
